{% extends 'admin_base.html' %}

{% block admin_content %}
<h2>Solicitações</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Status</th>
            <th>Retorno</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        {% for r in requests_data %}
        <tr>
            <td>#{{ r.id }}</td>
            <td>{{ r.item_nome }}</td>
            <td>{{ r.status }}</td>
            <td>{{ r.retorno_almoxarifado }}</td>

            <td>
                <form method="POST" action="{{ url_for('update_request_status', request_id=r.id, new_status='EM_ANALISE') }}">
                    <input name="retorno_almoxarifado">
                    <button>Em análise</button>
                </form>

                <form method="POST" action="{{ url_for('update_request_status', request_id=r.id, new_status='FAVOR_RETIRAR') }}">
                    <input name="retorno_almoxarifado">
                    <button>Retirar</button>
                </form>

                <form method="POST" action="{{ url_for('update_request_status', request_id=r.id, new_status='EM_FASE_COMPRA') }}">
                    <input name="retorno_almoxarifado">
                    <button>Compra</button>
                </form>

                <form method="POST" action="{{ url_for('update_request_status', request_id=r.id, new_status='NEGADO') }}">
                    <input name="retorno_almoxarifado">
                    <button>Negar</button>
                </form>

                <form method="POST" action="{{ url_for('update_request_status', request_id=r.id, new_status='CONCLUIDO') }}">
                    <input name="retorno_almoxarifado">
                    <button>Concluir</button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
